body 
{
    padding: 40px 50px 0 50px;
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
}
select
{
    padding: 5px 2px; 
    width: 100%;     
}

div
{
    padding: 10px;
}
form
{
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
}
h3
{
    padding: 10px;
    text-align: center;
    border: solid ;
    color: #dfdfdf;
    background-color:#77773c;
}
.form-item
{
    border: 1px solid brown;
    background-color: #80ffe5;
    padding: 10px;
}
#signinLogin
{
    font-size: 30px;
}
